*audio{
	display: none;
}

.bar{
	padding: 0.2rem;
	background-color: #212121;
}
.bar  ul{
	display: flex;
	flex-direction: row;
	-webkit-justify-content: space-between;
    justify-content: space-between;
	margin: 0;
	list-style: none;
}
.bar label{
	color: #fff;
	text-align: center;
}

.center{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.center_hor{
	left: 50%;
	transform: translate(-50%);
}

.dark {
	color: #dddddd;
	background-color: #2d2d2d;
}

.light{
	color: #333;
	background-color: #DDD;
}

.button:active{
	box-shadow: 0px 5px 10px #333 inset;
}



/* ICONS ------------*/
.icon-hand{
	background: url(../img/hand%20icon.svg) no-repeat center center scroll;
}
.icon{
	height: 2.84rem;
	width: 100%;
	-webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}





.dialog{
	position: fixed;
	z-index: 100;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.5);
}
	.d_box{
		position: fixed;

		width: 90%;
		max-width: 25rem;

		background-color: rgba(0, 34, 144,0.8);
		border-style: solid;
		border-color: rgba(80,100,255,15);
		border-radius: 1rem;
		box-shadow: 0px 0px 1rem rgba(80,100,255,15);

		padding:0.5rem;
	}
		.d_actions{
			margin-top: 1rem;
		}

/* START ------------*/
#start{
	z-index: 999;
	background-color: #FFF;
	position: fixed;
  top : 0px;
  left : 0px;
  width : 100%;
  height : 100%;
    
  display: flex;
  flex-direction: column;
}

#btn_start{
	color: black;
	background-color: transparent;
	border-style: solid;
	border-color: black;
	border-width: 0.4rem;
	border-radius: 100%;
	
	
}

/* HEADER ------------*/
#header{
	height: 1rem;
	background-color: #FFF;
	font-size: 0.8rem;
	font-family: serif;
	line-height: 1rem;
}



/* BUTTON BAR ------------*/
#button_bar{
	position:fixed;
	bottom: 0px;
	height:4.5rem;
	background-color: #ccc;
}
.icon-bar > * {
	padding:0;
}
.icon-bar > * i{
	color:black;
}
.icon-bar > * label{
	color:black;
}



/* TITLE SCREEN------------*/
#title{
	color: black;
}



/* CONTENT ------------*/
/* INVENTORY ------------*/
#items li{
	height : 37px;
	float: left;
	list-style: none;
	margin: .5em;
	width: 2.3em;
}

.selected{
	box-shadow: 0px 0px 12px #4BD9FF;
}

.bottom{
	background-color: #CCC;
	position: fixed;
	bottom: 0rem;
	left: 0rem;
	right: 0rem;
  z-index: 99;
	
}

/* SCANNER ------------*/
#reader{
	width: 300px;
	height: 250px
}




/* PRESENTATION ------------*/
#new_item img{
  position: absolute;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.a_zoom{
	-webkit-animation: A_zoom 2s;
	-moz-animation: A_zoom 2s;
	-o-animation: A_zoom 2s;
	animation:  A_zoom 2s;  /* IE 10+, Fx 29+*/
}






/* ANIMATIONS */
@keyframes A_zoom {
  0%   {
		-webkit-transform: scale(0) translate(-50%, -50%);
		transform: scale(0) translate(-50%, -50%);
		transform-origin: top left;
	}
  100% {
		-webkit-transform: scale(1) translate(-50%, -50%);
		transform: scale(1) translate(-50%, -50%);
		transform-origin: top left;
	}
}

@keyframes A_zoom2 {
  0%   {width: 0%}
  100% {width: 50%}
}



