/************/
/* ELEMENTS */
body{/*header1, header2, content, button bar*/
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
    display: flex;
        -webkit-flex-direction: column;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    max-width: 50rem;
    left: 50%;
        -webkit-transform: translate(-50%, -0%);
	transform: translate(-50%, -0%);
}
body > *{
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: auto;
    width: 100%;
}

ul{
    margin: 0;
    list-style: none;
}

button{
    margin:0;
}
button{
    background-color: rgba(255,255,255,0.5);
    margin:0;
    padding: 1rem;
}

button label{
    position: relative;
    bottom:-2.2rem;
    font-size: 0.7rem;
    white-space: nowrap;
}



/************/
/* CLASSES */
.bar{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
    display: flex;
        -webkit-flex-direction: row;
    flex-direction: row;
    /justify-content: space-between;
    /align-content: stretch;
    width: 100%;
    height: 5rem;
    }
    .bar *{
        flex-basis: 0;
        flex-grow: 1;

    }
    .bar li:hover{
        background-color: rgba(255,255,255,0.3);
    }
    .bar button{
        width: 100%;
        height: 5rem;;
    }

.separator{
    width: 0;
    border-style: solid;
    border-width: 1px;
    border-collapse: collapse;
    border-color: rgba(255,255,255,0.3);
    flex-grow: 0;
}

.btn{
    cursor: pointer;
    }
    .btn:hover{
            -webkit-transform: translate(3%, 0);
        transform: translate(3%, 0);
        transition: 100ms;
    }

.center{
    position: absolute;
    top: 50%;
    left: 50%;
        -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}





/************/
/* SECTIONS */
/* HEADER */
#info_bar{
    height: 1.1rem;
    background-color: #fff;
    font-size: 1rem;
    line-height: 1rem;
}
#info{
    flex-grow: 3;
}

/* HEADER2 */
#top_controls{
    
    background-color: #212121;
    color: #fff;
}
#btn_play{
    background: url(../img/play.svg) no-repeat center center scroll; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}
#audio_progress{
    flex-grow: 3;
}
#btn_scan{
    height: 80%;
    background: url(../img/Tourism-Icons_qr-code.svg) no-repeat center center scroll; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}
#btn_scan label{
    color: #fff;
}


/* CONTENT */
#content{
    flex: 1;
    overflow: auto;
    padding:0.7rem 0;
}
    
#inventory li{
    float: left;
    width: 5rem;
    height: 5rem;
    padding: 0.2rem;
}
.selected{
    box-shadow: 0 0 12px #4BD9FF;
}

#btn_submit{
    width: 100%;
}

#menu{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
    display: flex;
        -webkit-flex-direction: column;
    flex-direction: column;
    }
    #menu li{
        height: 4rem;
        background-color: #ccc;
        border-style: solid;
        border-color: #222;
        border-width: 1px 0;
    }
    #menu img{
        height: inherit;
        padding: 0.2rem;
    }
    #menu label{
        display: inline-block;
        position: relative;
        top: -2rem;
        left: 5rem
    }
    #menu input, #menu select{
        height: inherit;
        width: 6rem;
    }

#video-scanner{
    height: 75%;
}


/* BUTTON BAR */
#bottom_controls {
    /position: fixed;
    /bottom: 0;
    background-color: #ccc;
}
#btn_info{
    height: 80%;
    background: url(../img/fi-info.svg) no-repeat center center scroll; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}
#btn_use{
    height: 80%;
    background: url(../img/hand%20icon.svg) no-repeat center center scroll; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}
#btn_share{
    height: 80%;
    background: url(../img/fi-share.svg) no-repeat center center scroll;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}
#btn_delete{
    height: 80%;
    background: url(../img/fi-trash.svg) no-repeat center center scroll;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}
#btn_menu{
    height: 80%;
    background: url(../img/fi-wrench.svg) no-repeat center center scroll;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}


/* DIALOG Popup */
#dialog_box{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: rgba(0,0,0,0.5);
}
#dialog{
    min-width: 75%;
    min-height: 5rem;
    background: rgba(255,255,255,0.7) none repeat scroll 0% 0%;
    border: solid rgba(255, 255, 255, 0.7);
    border-radius: 1rem;
    padding: 0.5rem;
}
#dialog button{
    margin: 0 1rem;
    color: black;
}








/* http://jsfiddle.net/ef75nc4n/1/ */



/*FOUNDATION CHANGES*/
button.disabled, button[disabled], .button.disabled, .button[disabled]{
    opacity: 0.5;
}

/*FOUNDATION CSS*/
.block-list {
  font-size: 1rem;
  margin-left: -1rem;
  margin-right: -1rem; }
  .block-list input[type="text"], .block-list input[type="password"], .block-list input[type="date"], .block-list input[type="datetime"], .block-list input[type="datetime-local"], .block-list input[type="month"], .block-list input[type="week"], .block-list input[type="email"], .block-list input[type="number"], .block-list input[type="search"], .block-list input[type="tel"], .block-list input[type="time"], .block-list input[type="url"], .block-list input[type="color"], .block-list textarea {
    margin: 0;
    border: 0;
    line-height: 1;
    height: auto;
    padding: 0.8rem 1rem;
    color: inherit; }
    .block-list input[type="text"]:hover, .block-list input[type="text"]:focus, .block-list input[type="password"]:hover, .block-list input[type="password"]:focus, .block-list input[type="date"]:hover, .block-list input[type="date"]:focus, .block-list input[type="datetime"]:hover, .block-list input[type="datetime"]:focus, .block-list input[type="datetime-local"]:hover, .block-list input[type="datetime-local"]:focus, .block-list input[type="month"]:hover, .block-list input[type="month"]:focus, .block-list input[type="week"]:hover, .block-list input[type="week"]:focus, .block-list input[type="email"]:hover, .block-list input[type="email"]:focus, .block-list input[type="number"]:hover, .block-list input[type="number"]:focus, .block-list input[type="search"]:hover, .block-list input[type="search"]:focus, .block-list input[type="tel"]:hover, .block-list input[type="tel"]:focus, .block-list input[type="time"]:hover, .block-list input[type="time"]:focus, .block-list input[type="url"]:hover, .block-list input[type="url"]:focus, .block-list input[type="color"]:hover, .block-list input[type="color"]:focus, .block-list textarea:hover, .block-list textarea:focus {
      border: 0; }
  .block-list li > input[type="checkbox"], .block-list li > input[type="radio"] {
    position: absolute;
    left: -9999px; }
    .block-list li > input[type="checkbox"] + label, .block-list li > input[type="radio"] + label {
      display: block;
      font-size: 1rem;
      margin: 0; }
    .block-list li > input[type="checkbox"]:checked + label::before, .block-list li > input[type="radio"]:checked + label::before {
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="32" height="32" viewBox="0 0 32 32"><path fill="black" d="M16 0c-8.837 0-16 7.163-16 16s7.163 16 16 16 16-7.163 16-16-7.163-16-16-16zm6.906 8.875l2.219 2.031-12.063 13.281-6.188-6.188 2.125-2.125 3.938 3.938 9.969-10.938z"/></svg>');
      content: '';
      background-size: 100% 100%;
      width: 1.5em;
      height: 1.5em;
      color: #00558b;
      float: right;
      pointer-events: none;
      margin-top: -0.25em; }
      @media screen and (min-width: 0\0) {
        .block-list li > input[type="checkbox"]:checked + label::before, .block-list li > input[type="radio"]:checked + label::before {
          background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAdlJREFUeNrMl0FugzAQRY3TRZeoFyhVL0BOkGTXJezaHZwguUnECaCrdFd6gqQnCN11Uyk5QekNOlONJWMVGMCgfGlkEIY3HnsG2xFM3d96PjQB2AJsWdPtAPYOln+dTwXnuw4DHEGzBvNFN6EDCTiS9XIAwB40acNoucKoxODIie0AwAOCu8KOSnIiNx/MakK+A7sW9oTferxx3fP3T1nURoBG/irGVahHwjHm/Ggx7E3TMVdrQmoP0gngghhpZQ3QvG/EdPLUelARWI8Aycjq9Md0qMIdbcNhjmOKLoY7quk3l1Rebeqg4AwFkmq7LWGOh1pmNY0etZAWSq0OX8HoS4JvWuCopbSY26EGR/CW86K0BF+pwkLwlPuyHJhOCl5oe4ZtF++vOqST+GdOYwO+71pN2VNAjmQGPCe42weuHDg0PI8olUwnYrXTGQJH9gxq8l1LKvrQx4O6/YY32Kp/ugb3ey7gZ4xAzuhYiYTxB/UHZFAuaREVXZ2g6yFlvEC2yoKEmbsRZYNgVLk2JeaOaG+xLHN+WCszDWMqLGOrJFa1DlApjSdwoHJGqGzLIb0+cas0wh5Bh780ngswx8GJD7h8sHg2wLA/mfDLPZpdxOF0quP5rwADAAFIzSRvu1m5AAAAAElFTkSuQmCC'); } }
  .block-list .with-dropdown {
    color: inherit; }
    .block-list .with-dropdown select {
      -webkit-appearance: none;
      -moz-appearance: none;
      outline: 0;
      background: 0;
      border: 0;
      height: auto;
      padding: 0.8rem 1rem;
      margin: 0;
      font-size: 1em;
      line-height: 1;
      color: inherit;
      background-color: transparent; }
  .block-list .switch {
    position: absolute;
    top: 50%;
    right: 1rem;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .block-list.with-icons li > a, .block-list.with-icons li > span, .block-list.with-icons li > label {
    padding-left: 2.8rem; }
  .block-list.with-icons li img, .block-list.with-icons li .iconic {
    position: absolute;
    top: 0.26rem;
    left: 0.26rem;
    width: 2.08rem;
    height: 2.08rem;
    border-radius: 8px;
    pointer-events: none; }
  .block-list header {
    margin-top: 1em;
    color: #666666;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-left: 1rem;
    font-size: 0.8em;
    cursor: default;
    text-transform: uppercase; }
  .block-list li {
    position: relative;
    border-bottom: 1px solid #d0d0d0; }
    .block-list li:first-child {
      border-top: 1px solid #d0d0d0; }
    .block-list li > a, .block-list li > span, .block-list li > label {
      display: block;
      padding: 0.8rem 1rem;
      padding-left: 1rem;
      color: #000;
      line-height: 1; }
    .block-list li > span {
      cursor: default; }
    .block-list li > a, .block-list li > label {
      cursor: pointer; }
      .block-list li > a:hover, .block-list li > label:hover {
        color: #000; }
    .block-list li > a:hover, .block-list li > label:hover, .block-list li select:hover {
      background: #f4f4f4; }
    .block-list li.caution > a, .block-list li.caution > a:hover {
      color: #F04124; }
    .block-list li.disabled > a {
      cursor: default; }
      .block-list li.disabled > a, .block-list li.disabled > a:hover {
        color: #999; }
      .block-list li.disabled > a:hover {
        background: transparent; }
    .block-list li.with-chevron::after {
      content: '\203A';
      display: block;
      position: absolute;
      right: 1rem;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      font-weight: bold;
      color: #666666;
      font-size: 2em; }
    .block-list li.with-chevron .block-list-label {
      padding-right: 1.5rem; }
    .block-list li .block-list-label {
      display: inline-block;
      float: right;
      padding: 0;
      color: #999999;
      pointer-events: none; }
      .block-list li .block-list-label.left {
        margin-left: 0.8rem;
        float: none; }
