body{
	background-color: #DDD;
}

audio{
	display: none;
}

/* HEADER ------------*/
#header{
}

#layer{
	font-size: 1em;
	position: absolute;
	left: 0px;
	right: 130px;
	margin: auto;
	overflow: auto;
}


/* TITLE SCREEN------------*/
#title{
	color: black;
}

/* USER STATS DISPLAY------------*/

#user_stats_display img{
	max-width: 1.5em;
}

#rupee_counter{
	
	color: green;
	
}

/* CONTENT ------------*/

#footer{
	/*height: 40px;
}


