.center{
	margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#pause_menu{
	color: white;
	width: 100%;
	
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1;
}

#header{
	
}

#status{	
	
}

#content li{
	list-style: none;
	float: left;
	width: 48px;
	height: 48px;
	background-color: blue;
	margin: 5px;
}	

#footer{
	
}
