/* VCLSD-Pattern: DATA
 * VIEW		
 * CONTROL	
 * LOGIC	
 * SERVICE	
 * DATA		<--
 */

body{
	background-color: rgba(51, 51, 51, 1);
}

button{
	background-color: #FFF;
}
button:active{
	outline: 0px none;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25) inset;
}
.btn-active{
	outline: 0px none;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5) inset;
}
img{
	display: inline-block;
}

audio{
	display: none;
}

.clear{
	clear: both;
}

.bar{
	width: 100%;
	height: 40px;
	display: block;
	border-bottom: solid 1px rgba(255, 253, 253, 0.4);
	background-color: rgba(255, 253, 253, 0.8);
}

.bar *{
	margin: 0px;
	padding: 0.3em;
}

.pull-right{
	float: right;
}
.pull-left{
	float: left;
}

.show{
	display: block;
}

.hide{
	display: none;
}

.btn-icon{
	width: 60px;
	height: 38px;
	background-size: 38px;
	background-repeat: no-repeat;
	border-radius: 6px;
	border: solid 1px #CCC;
	margin: 2px;
	z-index: 20;
}

.no-close .ui-dialog-titlebar-close {
display: none;
}


/* HEADER ------------*/
#header{
}

#button_scan{
	background-image: url("../img/icons/scan.svg");
	
}
#button_pause{
	background-image: url("../img/icons/options.svg");
}

#current_location{
	font-size: 1em;
	position: absolute;
	left: 0px;
	right: 130px;
	margin: auto;
	overflow: auto;
}


/* STATUS BAR------------*/
#status, #status > div{
	height: 24px;
	margin-top:1px;
	padding: 0px inherit;
	background: none;
	border: none;
}
#status .img{
	background-repeat: no-repeat;
	padding: 0px;
	height: 100%;
	width: 24px;
	background-size: 100%;
	border: none;
	display: inline-block;
}

.icon-heart{
	background-image: url("../img/icons/heart.svg");
}

#rupee{
	background-image: url("../img/icons/rupee.svg");
}
#rupee_counter{
	font-style: italic;
	color: green;
	padding: 0px;
	vertical-align: top;
}



/* CONTENT SECTION------------*/
/* inventory------------*/
#content{
	width: 94%;  		/* !!! margin-left + margin-right + width = 100% !!! */
	margin: 5% 3%; 		/* margin: x y = margin: x y x y */
	position: absolute;
	top: 55px;
	bottom: 27px;
	display: block;
	overflow: auto;
	border: 1px solid #DDD;
	border-radius: 6px;
	z-index: -10;
	color: white;
}

#inventory{
	text-align: center;
}

#inventory li{
	list-style: none;
	/*float: left;*/
	display: inline-block;
	width: 48px;
	height: 48px;
	margin: 2px;
	background-color: rgba(151, 234, 225, 0.6);
	border: none;
}

.selected{
	box-shadow: 0px 0px 15px blue;
}

#inventory li > *{
	position: absolute;
	width: 48px;
	height: 48px;
	display: table-cell;
}

/* scan ------------*/

#qr-canvas{
	border: 1px solid #d3d3d3; /*for debugging*/
	background-color: white; /*for debugging*/
	display: none;
}

#presentation_box{
	display: none;
	position: fixed;
	top:0px;
	bottom:0px;
	left: 0;
	width: 100%;
	background-color: rgba(51, 51, 51, 0.5);
}

#presentation_box img{
	position: absolute;
	margin: auto;
 	left: 0;
 	right: 0;
 	top: 0;
 	bottom: 0;
}
.scale_down{
	-webkit-transform: scale(0.0);
	-webkit-transform-origin: 50% 50%;
	-moz-transform: scale(0.0);
	-moz-transform-origin: 50% 50%;
	-o-transform: scale(0.0);
	-o-transform-origin: 50% 50%;
	-ms-transform: scale(0.0);
	-ms-transform-origin: 50% 50%;
	transform: scale(0.0);
	transform-origin: 50% 50%;
}
img.animate{
	transition: 900ms ease-out;
	-webkit-transform: scale(1.0);
	-webkit-transform-origin: 50% 50%;
	-moz-transform: scale(1.0);
	-moz-transform-origin: 50% 50%;
	-o-transform: scale(1.0);
	-o-transform-origin: 50% 50%;
	-ms-transform: scale(1.0);
	-ms-transform-origin: 50% 50%;
	transform: scale(1.0);
	transform-origin: 50% 50%;
	
}

/* pause menu ------------*/

#button_toggle_sound{
	background-image: url("../img/icons/mute-sound.svg");
}

/* FOOTER BAR ------------*/
#footer{
	position: fixed;
	bottom: 0px;
}

#button_use{
	background-image: url("../img/icons/hand-grab.svg");
}
#button_delete{
	background-image: url("../img/icons/delete.svg");
}
