body{
	background-color: #DDD;
}

audio{
	display: none;
}

/* HEADER ------------*/
#header .icon{
	font-size: 2em;
}
#user_stats_display .icon{
	font-size: 1.5em;
	fill: #FFFFFF;
}

#layer{
	font-size: 1em;
	position: absolute;
	left: 0px;
	right: 130px;
	margin: auto;
	overflow: auto;
}


/* TITLE SCREEN------------*/
#title{
	color: black;
}

/* USER STATS DISPLAY------------*/

#user_stats_display img{
	max-width: 1.5em;
}

#rupee_counter{
	color: green;	
}

/* CONTENT ------------*/
#content{
	margin-bottom: 2em;
}

#items li{
	float: left;
	list-style: none;
	margin: .5em;
	width: 2.3em;
}

#footer{
	/*height: 40px;
}


